.calendarContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
#calendar{
    width: 250px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #6e7171;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20px;  
    border: 1px solid #e8e6e6;  
    border-top: none;
}
#calendar tr{
    height: 15px;
}
#calendar td{
    border: 2px solid white;
    border-radius: 50%;
    width: 30px!important;
    height: 30px!important;
    margin: 0px;
}
#calendar td:hover{
    border: 2px solid white;
    background-color: #e3dcdc;
}
.rightArrow{
 width: 10px;
 cursor: pointer;
}
.leftArrow{
    width: 10px;
    cursor: pointer;
    transform: scaleX(-1);
}
.leftArrow:hover{
    opacity: 0.6;
}
.rightArrow:hover{
    opacity: 0.6;
}
.calendarTitle{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 250px;
    margin-left: 15px ;
    margin-right: 15px ;
    color: white;
    background-color: #1a363f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.titleContainer{
    
    text-align: center;
    display: flex;
    flex-direction: row!important;
    justify-content: center!important;
    align-items: center!important;
}
.bottomContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttonContainer{
    margin-top: 20px;
}
#calendar thead tr{
    color: white;
    background-color: #fe623e;
    height: 35px!important;
    border-radius: 20px!important;
}
.customButton{
    background-color: #acacac;
    border: none;
    color: white;
    border-radius: 8px;
    width: 90px;
    height: 25px;
    outline: none;
}
.customButton:hover{
    opacity: 0.7;
}
.selectContainer{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.selectContainer select{
    height: 25px;
    background-color: #acacac;
    border: none;
    color: white;
    outline: none;
    margin-left: 8px;
    border-radius: 8px;
}
.selectContainer select:hover{
    opacity: 0.7;
}
